In [64]:
import pandas as pd

In [65]:
df =  pd.read_csv("ODI_Match_info.csv")

In [66]:
columns_to_keep = ['team1', 'team2', 'winner']
df = df[columns_to_keep]

In [19]:
df['team1'].unique()

array(['India', 'England', 'New Zealand', 'Australia', 'Sri Lanka',
       'South Africa', 'Bangladesh', 'Pakistan', 'Nepal', 'Afghanistan',
       'West Indies', 'Scotland', 'United Arab Emirates', 'Oman',
       'Netherlands', 'Zimbabwe', 'United States of America', 'Ireland',
       'Canada', 'Namibia', 'Jersey', 'Papua New Guinea', 'Hong Kong',
       'Kenya', 'Africa XI', 'Bermuda'], dtype=object)

In [22]:
df['winner'].unique()

array(['India', 'England', 'New Zealand', nan, 'South Africa',
       'Bangladesh', 'Sri Lanka', 'Australia', 'Pakistan', 'West Indies',
       'Afghanistan', 'Netherlands', 'United Arab Emirates', 'Scotland',
       'Ireland', 'Nepal', 'Zimbabwe', 'Oman', 'Canada',
       'United States of America', 'Namibia', 'Jersey',
       'Papua New Guinea', 'Hong Kong', 'Kenya', 'Bermuda', 'Asia XI',
       'Africa XI'], dtype=object)

In [67]:
df['winner'].fillna(29)

0             India
1           England
2       New Zealand
3             India
4                29
           ...
2374      Sri Lanka
2375          India
2376    New Zealand
2377    New Zealand
2378    New Zealand
Name: winner, Length: 2379, dtype: object

In [68]:
# Create a dictionary that maps each team to a unique code
teams = {
    'India': 0,
    'England': 1,
    'New Zealand': 2,
    'Australia': 3,
    'Sri Lanka': 4,
    'South Africa': 5,
    'Bangladesh': 6,
    'Pakistan': 7,
    'Nepal': 8,
    'Afghanistan': 9,
    'West Indies': 10,
    'Scotland': 11,
    'United Arab Emirates': 12,
    'Oman': 13,
    'Netherlands': 14,
    'Zimbabwe': 15,
    'United States of America': 16,
    'Ireland': 17,
    'Canada': 18,
    'Namibia': 19,
    'Jersey': 20,
    'Papua New Guinea': 21,
    'Hong Kong': 22,
    'Kenya': 23,
    'Africa XI': 24,
    'Bermuda': 25,
    'Asia XI':26,
    'ICC World XI':27,
    'NAN':29

}

In [69]:
df['team1'] = df['team1'].map(teams)
df['team2'] = df['team2'].map(teams)
df['winner'] = df['winner'].map(teams)

df

      team1  team2  winner
0         0      3     0.0
1         1     17     1.0
2         2      6     2.0
3         3      0     0.0
4         2      6     NaN
...     ...    ...     ...
2374      4      3     4.0
2375      2      0     0.0
2376      0      2     2.0
2377      0      2     2.0
2378      2      0     2.0

[2379 rows x 3 columns]

In [77]:
df['winner']=df['winner'].fillna(29)

In [78]:
df['winner']

0        0.0
1        1.0
2        2.0
3        0.0
4       29.0
        ...
2374     4.0
2375     0.0
2376     2.0
2377     2.0
2378     2.0
Name: winner, Length: 2379, dtype: float64

In [79]:
x = df.iloc[:,:2]
y=df.iloc[:,2]

In [48]:
y

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
2374   NaN
2375   NaN
2376   NaN
2377   NaN
2378   NaN
Name: winner, Length: 2379, dtype: float64

In [80]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [93]:
from sklearn.model_selection import train_test_split
x_train ,x_test ,y_train,y_test = train_test_split(x,y,test_size=0.50,random_state=45)

      team1  team2
1552      0      2
1762      1      5
141      15     17
1948     10     15
821       2      6
...     ...    ...
1296      6     10
1829      2      1
361      14     11
1945      6      4
2347      1      7

[238 rows x 2 columns]

In [94]:
model.fit(x_train,y_train)

c:\Users\Talha Fareedi\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [95]:
y_pre=model.predict(x_test)

In [97]:
from sklearn.metrics import confusion_matrix , accuracy_score
a = accuracy_score(y_pre,y_test)
a

0.15126050420168066

In [98]:
India = 0
England = 1
New_Zealand = 2
Australia = 3
Sri_Lanka = 4
South_Africa = 5
Bangladesh = 6
Pakistan = 7
Nepal = 8
Afghanistan = 9
West_Indies = 10
Scotland = 11
United_Arab_Emirates = 12
Oman = 13
Netherlands = 14
Zimbabwe = 15
United_States_of_America = 16
Ireland = 17
Canada = 18
Namibia = 19
Jersey = 20
Papua_New_Guinea = 21
Hong_Kong = 22
Kenya = 23
Africa_XI = 24
Bermuda = 25
Asia_XI = 26
ICC_World_XI = 27
NAN = 29

In [109]:


y_prediction = model.predict([[India,Australia]])

c:\Users\Talha Fareedi\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [110]:




if y_prediction == 0:
    print("The predicted team is India")
elif y_prediction == 1:
    print("The predicted team is England")
elif y_prediction == 2:
    print("The predicted team is New Zealand")
elif y_prediction == 3:
    print("The predicted team is Australia")
elif y_prediction == 4:
    print("The predicted team is Sri Lanka")
elif y_prediction == 5:
    print("The predicted team is South Africa")
elif y_prediction == 6:
    print("The predicted team is Bangladesh")
elif y_prediction == 7:
    print("The predicted team is Pakistan")
elif y_prediction == 8:
    print("The predicted team is Nepal")
elif y_prediction == 9:
    print("The predicted team is Afghanistan")
elif y_prediction == 10:
    print("The predicted team is West Indies")
elif y_prediction == 11:
    print("The predicted team is Scotland")
elif y_prediction == 12:
    print("The predicted team is United Arab Emirates")
elif y_prediction == 13:
    print("The predicted team is Oman")
elif y_prediction == 14:
    print("The predicted team is Netherlands")
elif y_prediction == 15:
    print("The predicted team is Zimbabwe")
elif y_prediction == 16:
    print("The predicted team is United States of America")
elif y_prediction == 17:
    print("The predicted team is Ireland")
elif y_prediction == 18:
    print("The predicted team is Canada")
elif y_prediction == 19:
    print("The predicted team is Namibia")
elif y_prediction == 20:
    print("The predicted team is Jersey")
elif y_prediction == 21:
    print("The predicted team is Papua New Guinea")
elif y_prediction == 22:
    print("The predicted team is Hong Kong")
elif y_prediction == 23:
    print("The predicted team is Kenya")
elif y_prediction == 24:
    print("The predicted team is Africa XI")
elif y_prediction == 25:
    print("The predicted team is Bermuda")
elif y_prediction == 26:
    print("The predicted team is Asia XI")
elif y_prediction == 27:
    print("The predicted team is ICC World XI")
elif y_prediction == 29:
    print("The predicted team is NAN")
else:
    print("Unknown team or invalid prediction")

The predicted team is India